@(title:String,beginDate : String, endDate : String ,timeSlots : Seq[models.TimeSlot] = Nil)

@import models._
@import controllers._

@main(title,"") {
<div id="search">
    <form id="searchForm" action='@Application.url("TimeSlot")' method="GET">
        <input name="beginDate" value="@beginDate"/>
        <input name="endDate" value="@endDate"/>
        <input type="submit" value="Search">
    </form>
</div>

<div id="new">
    @createForm()
</div>

<ul>
    @timeSlots.map { t =>
    <li>@t
        <button onclick="$.ajax({
        type: 'DELETE',
        url: '@action(Application.delete(t.id()))'});$(this).parent().remove()">Delete
        </button>
        <button onclick="$('#new').load('@action(Application.show(t.id()))');">Update
        </button>
    </li>
    }
</ul>

}